body {
  margin: 0;
  font-family: "Arial", "Microsoft YaHei", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

#root {
  width: 100%;
  /*height: 100%; //App内动态设置高度，移动端兼容 */
  display: flex;
  flex-direction: column;
  background: #eeeeee;
}
